{{#partial "contenido"}}
    <div class="row mb-4">
        <div class="col-md-8">
            <h1 class="h1">Donar Dinero</h1>
        </div>
        <div class="col-md-4 text-md-end">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#donationModal">
                Donar Dinero
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table caption-top table-hover table-bordered table-sm align-middle text-center">
                <thead>
                <tr class="align-middle">
                    <th scope="col">Fecha de donación</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Donación periódica (Mensual)</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {{#each donacionesDinero}}
                    <tr>
                        <td>{{this.fechaDonacion}}</td>
                        <td>${{this.monto}}</td>
                        <td>{{this.esPeriodica}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <table class="table caption-top table-hover table-bordered table-sm align-middle text-center">
                <caption>
                    Donaciones Periodicas Activas
                </caption>
                <thead>
                <tr class="align-middle">
                    <th scope="col">Fecha de donación</th>
                    <th>Monto</th>
                    <th>Cancelar Donacion</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr>
                    <td>{{this.fechaDonacion}}</td>
                    <td>${{this.monto}}</td>
                    <td>
                        <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#confirmModal">
                            <i class="fa-solid fa-xmark fa-lg"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Modal Form-->
    <div class="modal fade" id="donationModal" tabindex="-1" aria-labelledby="donationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="donationModalLabel">Donar Dinero</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario de Donación -->
                    <form class="row g-3 needs-validation">
                        <div class="col-md-6">
                            <label for="validationCustom01" class="form-label">Fecha De Donación</label>
                            <input type="date" class="form-control" id="validationCustom01" required>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom02" class="form-label">Monto</label>
                            <input type="number" min="0" step="0.01" class="form-control" id="validationCustom02"
                                   required>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck">
                                <label class="form-check-label ms-2" for="invalidCheck">
                                    Donar de Forma Periódica (Mensual)
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer col-md-12">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal"
                                    data-bs-target="#confirmModalDonation">¡Realizar Donación!
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal de Confirmación Donacion-->
    <div class="modal fade" id="confirmModalDonation" tabindex="-1" aria-labelledby="confirmModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel1">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea realizar esta donación?
                </div>
                <div class="modal-footer">
                    <!-- Botón de Cancelar que cierra el modal de confirmación y vuelve al modal de donación -->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal"
                            data-bs-target="#donationModal">Cancelar
                    </button>
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Sí, realizar
                        donación
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de Confirmación Dar de Baja Donacion-->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Está seguro de que desea cancelar esta donación periódica?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary">Sí</button>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/base}}