{{#partial "contenido"}}
    <section class="container">
        <div class="row">
            <div class="col-6 col-md-12">
                <h1>{{nombre}}</h1>
                <p>Dirección: {{direccion}}</p>
                <div id="map" style="height: 400px;" class="figure-img border rounded"></div>
            </div>
            <div class="col-6 col-md-12">
                <h2>Viandas</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Calorías</th>
                        <th>Peso (En Gramos)</th>
                        <th>Fecha de Caducidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each viandas}}
                        <tr>
                            <td>{{this.comida}}</td>
                            <td>{{this.calorias}}</td>
                            <td>{{this.peso}}</td>
                            <td>{{this.fechaCaducidad}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                <h2>Aperturas</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Fecha Apertura</th>
                        <th>Colaborador</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each aperturas}}
                        <tr>
                            <td>{{this.fecha}}</td>
                            <td>{{this.colaborador}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-primary" onclick="window.history.back();">Cerrar</button>
        </div>
    </section>
{{/partial}}

{{#partial "agregarScript"}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        let map;

        const initMap = () => {
            const lat = {{latitud}};
            const lng = {{longitud}};

            // Inicializar el mapa con la vista centrada en la latitud y longitud proporcionadas
            map = L.map('map', {
                center: [lat, lng],
                zoom: 12,
                scrollWheelZoom: false, // Desactiva el zoom con la rueda del ratón
                dragging: false, // Desactiva el arrastre del mapa
                touchZoom: false, // Desactiva el zoom táctil
                doubleClickZoom: false, // Desactiva el zoom por doble clic
                boxZoom: false, // Desactiva el zoom por selección de área
                keyboard: false, // Desactiva el control del mapa con teclado
                zoomControl: false, // Desactiva los controles de zoom del mapa
            }).setView([lat, lng], 16); // Ubicación inicial

            // Cargar los tiles de OpenStreetMap
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            // Agregar un marcador al mapa con las coordenadas proporcionadas
            L.marker([lat, lng]).addTo(map)
                .bindPopup('{{direccion}}');
        };

        initMap(); // Inicializar el mapa cuando el documento esté cargado
    });
</script>
{{/partial}}

{{> templates/base }}