{{#partial "contenido"}}
    <section class="container">
        <hr class="my-3 border-0">
        <div class="row mb-4">
            <div class="col-md-4">
                <h1 class="h1">Colaboradores</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table caption-top table-hover table-bordered table-sm align-middle text-center">
                    <thead>
                    <tr>
                        <th scope="col">Tipo Colaborador</th>
                        <th scope="col">Nombre y Apellido/Razon Social</th>
                        <th scope="col">Correo Electronico</th>
                        <th scope="col">Fecha de Nacimiento</th>
                        <th scope="col">Tipo Jurisdiccion</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Dar de Baja</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {{#each colaboradores}}
                        <tr>
                            <td>{{this.tipoColaborador}}</td>
                            <td>{{this.nombreYApellido}}</td>
                            <td>{{this.correoElectronico}}</td>
                            <td>{{this.fechaDeNacimiento}}</td>
                            <td>{{this.jurisdiccion}}</td>
                            <td>{{this.direccion}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#deleteAccountModal-{{@index}}"
                                        data-id="{{this.ID}}">
                                    <i class="fa-solid fa-trash fa-lg"></i>
                                </button>
                            </td>
                        </tr>

                        <!-- Modal para Confirmar Borrado -->
                        <div class="modal fade" id="deleteAccountModal-{{@index}}" tabindex="-1" aria-labelledby="deleteAccountModalLabel-{{@index}}"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteAccountModalLabel-{{@index}}">Confirmar Borrado</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estás seguro de que deseas borrar esta cuenta ({{this.correoElectronico}})? Esta acción no
                                        se puede deshacer.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <form method="post" action="/darDeBaja">
                                            <input type="hidden" name="colaboradorId" value="{{this.ID}}">
                                            <button type="submit" class="btn btn-danger">Borrar Cuenta</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{{/partial}}
{{> templates/base }}
