{{#partial "contenido"}}
    <hr class="my-3 border-0">
    <section class="container mt-4">
        <div class="row mb-4">
            <div class="col-md-3">
                <h1 class="h1">Mi Perfil</h1>
            </div>
            {{#if clavesNoCoinciden}}
                <div class="col-md-6 alert alert-primary" role="alert">
                    {{clavesNoCoinciden}}
                </div>
            {{/if}}
            {{#if claveNoSegura}}
                <div class="col-md-6 alert alert-primary" role="alert">
                    {{claveNoSegura}}
                </div>
            {{/if}}
            <div class="col-md-3 text-md-end">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#editProfileModal">
                    Modificar Perfil
                </button>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <form id="profileForm">
                    <div class="row">
                    <div class="row mb-3">
                    <div class="col-lg-6">
                        {{#if esAdmin}}
                            <label for="firstName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="firstName" value="{{usuario.nombre}}"
                                   readonly>
                        </div>
                            <div class="col-lg-6">
                                <label for="lastName" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="lastName" value="{{usuario.apellido}}"
                                       readonly>
                            </div>
                        {{/if}}
                        {{#if esHumano}}
                            <label for="firstName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="firstName" value="{{usuario.nombre}}"
                                   readonly>
                        </div>
                            <div class="col-lg-6">
                                <label for="lastName" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="lastName" value="{{usuario.apellido}}"
                                       readonly>
                            </div>
                        {{/if}}
                        {{#if esJuridico}}
                            <div class="col-lg-6">
                                <label for="firstName" class="form-label">Razon Social</label>
                                <input type="text" class="form-control" id="firstName"
                                       value="{{usuario.razonSocial}}"
                                       readonly>
                            </div>
                            <div class="col-lg-6">
                                <label for="lastName" class="form-label">TipoJurisdiccion</label>
                                <input type="text" class="form-control" id="lastName"
                                       value="{{usuario.tipoJurisdiccion}}"
                                       readonly>
                            </div>
                        {{/if}}
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" value="{{usuario.email}}" readonly>
                        </div>
                        <div class="col-lg-6">
                            <label for="contactNumber" class="form-label">Telefono</label>
                            <input type="text" class="form-control" id="contactNumber" value="{{usuario.telefono}}"
                                   readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-5">
                            <label for="provincia" class="form-label">Provincia</label>
                            <input type="text" class="form-control" id="provincia" value="{{usuario.provincia}}"
                                   readonly>
                        </div>
                        <div class="col-lg-4">
                            <label for="barrio" class="form-label">Localidad/Barrio</label>
                            <input type="text" class="form-control" id="barrio" value="{{usuario.localidad}}"
                                   readonly>
                        </div>
                        <div class="col-lg-3">
                            <label for="direccion" class="form-label">Direccion</label>
                            <input type="text" class="form-control" id="direccion" value="{{usuario.direccion}}"
                                   readonly>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" value="{{usuario.clave}}"
                                   readonly>
                            <span class="input-group-text">
                                    <i class="fas fa-eye"></i>
                                </span>
                        </div>
                    </div>
            </div>
            </form>
        </div>
        </div>
    </section>

    <div class="modal modal-lg fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Modificar Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editProfileForm" action="/guardarCambiosPerfil" method="post">
                        <!-- Aquí van los campos de entrada para el perfil -->
                        <div class="row mb-3">
                            {{#if esAdmin}}
                                <div class="col-lg-3">
                                    <label for="firstName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" id="editFirstName"
                                           value="{{usuario.nombre}}">
                                </div>
                                <div class="col-lg-3">
                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" name="apellido" id="editLastName"
                                           value="{{usuario.apellido}}">
                                </div>
                            {{/if}}
                            {{#if esHumano}}
                                <div class="col-lg-3">
                                    <label for="firstName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" id="editFirstName"
                                           value="{{usuario.nombre}}">
                                </div>
                                <div class="col-lg-3">
                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" name="apellido" id="editLastName"
                                           value="{{usuario.apellido}}">
                                </div>
                            {{/if}}
                            {{#if esJuridico}}
                                <div class="col-lg-3">
                                    <label for="firstName" class="form-label">Razon Social</label>
                                    <input type="text" class="form-control" id="firstName"
                                           value="{{usuario.razonSocial}}">
                                </div>
                                <div class="col-lg-3">
                                    <label for="lastName" class="form-label">TipoJurisdiccion</label>
                                    <select class="form-select" id="tipoEntidad" name="tipoJurisdiccion" required>
                                        <option value="" disabled selected>Selecciona una opción</option>
                                        <option value="1">Gubernamental</option>
                                        <option value="2">ONG</option>
                                        <option value="3">Empresa</option>
                                        <option value="4">Institución</option>
                                    </select>
                                </div>
                            {{/if}}
                            <div class="col-lg-6">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" id="editEmail"
                                       value="{{usuario.email}}">
                            </div>
                        </div>

                        <div class="row mb-3">
                            {{#if noEsAdmin}}
                                <div class="col-lg-3">
                                    <label for="contactNumber" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" name="telefono" id="editContactNumber"
                                           value="{{usuario.telefono}}">
                                </div>
                                <div class="col-lg-3">
                                    <label for="direccion" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" name="direccion" id="editDireccion"
                                           value="{{usuario.direccion}}">
                                </div>
                            {{/if}}
                            <div class="col-lg-3">
                                <label for="editPassword" class="form-label">Clave</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="clave" id="editPassword"
                                           value="{{usuario.clave}}">
                                    <span class="input-group-text">
                                    <i class="fas fa-eye" id="toggleEditPassword"></i>
                                </span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label for="editConfirmPassword" class="form-label">Confirmar Clave</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" name="confirmarClave"
                                           value="{{usuario.clave}}" id="editConfirmPassword">
                                    <span class="input-group-text">
                                    <i class="fas fa-eye" id="toggleConfirmPassword"></i>
                                </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="confirmSaveChanges">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de confirmación -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar Cambios</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas guardar los cambios en tu perfil?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="sub" class="btn btn-primary" id="saveChanges">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('confirmSaveChanges').addEventListener('click', function () {
            const editProfileModal = bootstrap.Modal.getInstance(document.getElementById('editProfileModal'));
            editProfileModal.hide();
            document.getElementById('editProfileModal').addEventListener('hidden.bs.modal', function () {
                const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
                confirmModal.show();
            }, {once: true});
        });
        document.getElementById('saveChanges').addEventListener('click', function () {
            const confirmModal = bootstrap.Modal.getInstance(document.getElementById('confirmModal'));
            confirmModal.hide();
            document.getElementById('editProfileForm').submit();
        });
        document.querySelector('#confirmModal .btn-secondary').addEventListener('click', function () {
            const confirmModal = bootstrap.Modal.getInstance(document.getElementById('confirmModal'));
            confirmModal.hide();
            document.getElementById('confirmModal').addEventListener('hidden.bs.modal', function () {
                const editProfileModal = new bootstrap.Modal(document.getElementById('editProfileModal'));
                editProfileModal.show();
            }, {once: true});
        });
        const passwordField = document.getElementById('editPassword');
        const togglePasswordIcon = document.getElementById('toggleEditPassword');
        togglePasswordIcon.addEventListener('click', function () {
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
        const confirmPasswordField = document.getElementById('editConfirmPassword');
        const toggleConfirmPasswordIcon = document.getElementById('toggleConfirmPassword');
        toggleConfirmPasswordIcon.addEventListener('click', function () {
            const type = confirmPasswordField.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPasswordField.setAttribute('type', type);
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    </script>
{{/partial}}
{{> templates/base}}

