{{#partial "contenido"}}
    <div class="container">
        <hr class="my-3 border-0">
        <div class="row">
            <figure class="col-md-4 figure">
                <img class="figure-img img-fluid rounded mx-auto d-none d-md-block"
                     src="/public/img/colaborador_humano.svg" alt="Imagen colaborador">
            </figure>
            <div class="col-md-7">
                <h1 class="h1">Registrar Colaborador Humano</h1>
                <hr class="border-1">

                <form class="row g-3 needs-validation" method="POST" action="/registrarColaborador" novalidate>
                    {{#each preguntas.RESPUESTAUNICA}}
                        <div class="form-group">
                            <label for="pregunta-{{id}}">{{nombre}}</label>
                            <input type="text" class="form-control" id="pregunta-{{id}}" name="respuesta-{{id}}" required="{{esObligatoria}}">
                        </div>
                    {{/each}}

                    {{#each preguntas.MULTIPLECHOICE}}
                        <div class="form-group">
                            <label for="pregunta-{{id}}">{{nombre}}</label>
                            <select class="form-control" id="pregunta-{{id}}" name="respuesta-{{id}}">
                                {{#each opciones}}
                                    <option value="{{this.value}}">{{this.nombre}}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{/each}}

                    {{#each preguntas.VERDADEROFALSO}}
                        <div class="form-group">
                            <label for="pregunta-{{id}}">{{nombre}}</label>
                            <select class="form-control" id="pregunta-{{id}}" name="respuesta-{{id}}">
                                <option value="true">Verdadero</option>
                                <option value="false">Falso</option>
                            </select>
                        </div>
                    {{/each}}

                    {{#each preguntas.STRING}}
                        <div class="form-group">
                            <label for="pregunta-{{id}}">{{nombre}}</label>
                            <input type="text" class="form-control" id="pregunta-{{id}}" name="respuesta-{{id}}" required="{{esObligatoria}}">
                        </div>
                    {{/each}}

                    {{#each preguntas.FECHA}}
                        <div class="form-group">
                            <label for="pregunta-{{id}}">{{nombre}}</label>
                            <input type="date" class="form-control" id="pregunta-{{id}}" name="respuesta-{{id}}" required="{{esObligatoria}}">
                        </div>
                    {{/each}}

                    <div class="col-lg-6 col-md-12">
                        <label class="form-label" for="provincia">Provincia</label>
                        <select class="form-select" id="provincia" name="provincia" required>
                            <option value="" disabled selected>Seleccion una opción</option>
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <label class="form-label" for="localidad">Localidad</label>
                        <select class="form-select" id="localidad" name="localidad" required>
                            <option value="" disabled selected>Seleccion una opción</option>
                        </select>
                    </div>

                    <h4 class="h4">Ingrese al menos un Medio de Contacto</h4>
                    <hr class="d-none d-md-block">
                    <div class="col-lg-6 col-md-12">
                        <label class="form-label" for="telefono">Número de Teléfono</label>
                        <input class="form-control" type="text" id="telefono" name="telefono" required>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <label class="form-label" for="correo">Correo Electrónico</label>
                        <input class="form-control" type="email" id="correo" name="correo" required>
                    </div>

                    <div class="col-12 text-end">
                        <button class="btn btn-outline-primary" type="submit">¡Registrarse!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/partial}}

{{#partial "agregarScript"}}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/ubicacion.js"></script>

    <script>
        // Validar que al menos un medio de contacto sea ingresado
        document.querySelector('form').addEventListener('submit', function(event) {
            const telefono = document.getElementById('telefono').value;
            const correo = document.getElementById('correo').value;
            if (!telefono && !correo) {
                event.preventDefault();
                alert('Debe ingresar al menos un medio de contacto');
            }
        });
    </script>
{{/partial}}
{{> templates/base}}